/***** Variables *****/
/***** Mixins *****/
/***** Debut CSS *****/
.clear {
  clear: both; }

/***** Header - Navigation *****/
header {
  width: 100%;
  height: 70px;
  background-color: #18191a;
  border-bottom: solid 3px #f5b027; }
  header .logo {
    float: left;
    text-align: center;
    margin-top: 21px;
    margin-left: 28px;
    width: 120px; }
    header .logo img {
      width: 100%; }

nav {
  float: left; }
  nav ul {
    padding: 0;
    margin: 0 0 0 26px; }
  nav ul li {
    line-height: 70px;
    float: left; }
  nav ul li a {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 70px;
    padding: 0 20px 0 20px; }
    nav ul li a img {
      margin-right: 6px;
      width: 21px;
      height: 21px; }

.sub-menu {
  position: absolute;
  left: 0;
  width: 100%;
  top: 70px;
  display: none; }

.genre, .selection, .bons-plans {
  float: left;
  height: 460px;
  background-color: #fff; }

.genre a, .selection a, .bons-plans a {
  font-family: "Roboto-Medium", sans-serif;
  line-height: normal;
  padding: 0;
  font-size: 15px;
  text-transform: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.5); }

.genre h4, .selection h4, .bons-plans h4 {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: normal; }

.genre {
  width: 322px;
  margin-left: 60px;
  border-right: solid 1px #eeeeee; }
  .genre ul {
    margin-left: 113px;
    height: 300px; }
  .genre ul li .link-genre {
    margin: 0;
    float: none;
    width: 210px;
    height: 49px;
    line-height: 49px;
    border-top: solid 1px #eeeeee;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    display: block;
    color: #000 !important; }
  .genre ul li:last-child {
    border-bottom: solid 1px #eeeeee; }
  .genre ul li .link-genre:after {
    content: url("../img/rectangle.png");
    position: absolute;
    left: 356px; }
  .genre h4 {
    margin: 26px 0 17px 113px; }
  .genre a {
    margin: 37px 0 0 113px; }

.selection {
  width: 541px;
  border-right: solid 1px #eeeeee; }
  .selection h4 {
    margin: 26px 0 17px 47px; }
  .selection section {
    width: 440px;
    height: 99px;
    margin-left: 47px;
    border-top: solid 1px #eeeeee; }
    .selection section img {
      width: 104px;
      margin: 18px 19px 0 0;
      height: 64px;
      float: left;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      border-radius: 1px;
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
    .selection section .selection-descritption {
      float: left;
      margin-top: 17px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.8);
      line-height: normal;
      width: 307px; }
      .selection section .selection-descritption .link-description {
        margin: 0;
        padding: 0;
        color: #000 !important; }
      .selection section .selection-descritption b {
        font-size: 18px;
        font-family: "Roboto", sans-serif; }
      .selection section .selection-descritption p {
        margin: 2px 0 0 0;
        font-size: 13px;
        font-family: "Roboto", sans-serif; }
  .selection .last {
    border-bottom: solid 1px #eeeeee; }
  .selection a {
    margin: 34px 0 0 47px; }

.bons-plans {
  width: 295px; }
  .bons-plans h4 {
    margin: 26px 0 17px 49px; }
  .bons-plans img {
    width: 195px;
    height: 260px;
    margin-left: 50px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
  .bons-plans .reduction {
    position: relative;
    top: -240px;
    left: 45px; }
    .bons-plans .reduction div {
      width: 55px;
      height: 27px;
      float: left;
      line-height: 27px;
      text-align: center; }
    .bons-plans .reduction .new-price {
      background-color: #e70000;
      font-family: "Montserrat-Bold", sans-serif;
      color: #fff;
      font-size: 13px; }
    .bons-plans .reduction .old-price {
      font-family: "Montserrat-Light", sans-serif;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.7);
      text-decoration: line-through;
      background-color: rgba(34, 34, 34, 0.8); }
  .bons-plans p {
    clear: both;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: rgba(4, 4, 4, 0.5);
    margin: 19px 0 0 0;
    text-align: center;
    line-height: normal; }
  .bons-plans a {
    margin: 30px 0 0 49px; }
  .bons-plans .link-affiche {
    margin: 0; }

.movie:hover .sub-menu a, .serie:hover .sub-menu a, .young:hover .sub-menu a, .spectacle:hover .sub-menu a, .adult:hover .sub-menu a {
  color: rgba(0, 0, 0, 0.5); }

.border-bottom {
  clear: both;
  margin-left: 60px;
  width: 1160px; }

.movie .sub-menu {
  border-top: solid 3px #15B4A8; }
  .movie .sub-menu .border-bottom {
    border-bottom: solid 10px #15B4A8; }

.serie .sub-menu {
  border-top: solid 3px #714299; }
  .serie .sub-menu .border-bottom {
    border-bottom: solid 10px #714299; }

.young .sub-menu {
  border-top: solid 3px #f46317; }
  .young .sub-menu .border-bottom {
    border-bottom: solid 10px #f46317; }

.spectacle .sub-menu {
  border-top: solid 3px #15b4a8; }
  .spectacle .sub-menu .border-bottom {
    border-bottom: solid 10px #15b4a8; }

.adult .limit-age {
  margin-right: 6px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2px 2px 0 0;
  color: #151515;
  font-family: "Roboto-Bold", sans-serif;
  border-radius: 50%;
  font-size: 13px; }
.adult .sub-menu {
  border-top: solid 3px #de0477; }
  .adult .sub-menu .border-bottom {
    border-bottom: solid 10px #de0477; }

.movie:hover {
  background-color: #15B4A8; }
  .movie:hover a {
    color: #fff; }
  .movie:hover .sub-menu {
    display: block; }
    .movie:hover .sub-menu h4 {
      color: #15B4A8; }

.serie:hover {
  background-color: #714299; }
  .serie:hover a {
    color: #fff; }
  .serie:hover .sub-menu {
    display: block; }
    .serie:hover .sub-menu h4 {
      color: #714299; }

.young:hover {
  background-color: #f46317; }
  .young:hover a {
    color: #fff; }
  .young:hover .sub-menu {
    display: block; }
    .young:hover .sub-menu h4 {
      color: #f46317; }

.spectacle:hover {
  background-color: #15b4a8; }
  .spectacle:hover a {
    color: #fff; }
  .spectacle:hover .sub-menu {
    display: block; }
    .spectacle:hover .sub-menu h4 {
      color: #15b4a8; }

.adult:hover {
  background-color: #de0477; }
  .adult:hover .limit-age, .adult:hover a {
    color: #fff; }
  .adult:hover .sub-menu {
    display: block; }
    .adult:hover .sub-menu h4 {
      color: #de0477; }

.search {
  height: 70px;
  margin-left: 20px;
  float: left; }
  .search a {
    display: block;
    margin: 16px auto;
    height: 38px;
    line-height: 38px;
    width: 170px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 15px;
    background-color: #2a2a2a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .search a img {
    margin-left: 29px;
    width: 16px;
    height: 16px;
    margin-right: 13px; }

.my_fnacplay {
  width: 281px;
  float: right;
  height: 70px;
  background-color: #eef0f2; }

.notification {
  width: 60px;
  height: 70px;
  border-right: solid 1px #d9d9d9;
  float: left;
  cursor: pointer; }
  .notification .indice-notification {
    position: absolute;
    text-align: center;
    font-size: 13px;
    top: 13px;
    margin-left: 31px;
    font-family: "Roboto-Bold", sans-serif;
    width: 20px;
    border-radius: 6px;
    border: solid 2px #eef0f2;
    line-height: 20px;
    color: #fff;
    background-color: #18191a; }
  .notification img {
    width: 24px;
    height: 26px;
    margin: 24px 0 0 18px; }
  .notification .description-notification::before {
    content: '';
    position: absolute;
    border-color: #fff;
    background-color: #fff;
    border-style: solid;
    height: 10px;
    top: -7px;
    left: 185px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 10px; }
  .notification .description-notification {
    display: none;
    cursor: default;
    width: 380px;
    height: 470px;
    background-color: #fff;
    position: relative;
    top: 20px;
    left: -169px;
    padding-top: 30px;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3); }
    .notification .description-notification .header-notification {
      margin-bottom: 18px; }
      .notification .description-notification .header-notification b {
        font-family: "Montserrat-Bold", sans-serif;
        text-transform: uppercase;
        font-size: 13px;
        margin-left: 30px; }
      .notification .description-notification .header-notification a {
        font-family: "Roboto-Medium", sans-serif;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        float: right;
        margin-right: 30px; }
    .notification .description-notification .content-notification ul {
      margin: 0;
      padding: 0; }
    .notification .description-notification .content-notification ul li {
      width: 380px;
      height: 100px;
      border-top: solid 1px #eeeeee;
      list-style-type: none; }
      .notification .description-notification .content-notification ul li img {
        width: 38px;
        height: 38px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        margin: 18px 0 0 29px;
        float: left; }
      .notification .description-notification .content-notification ul li .detail-notification {
        margin: 19px 0 0 17px;
        width: 257px;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.8);
        float: left; }
        .notification .description-notification .content-notification ul li .detail-notification span {
          font-family: "Roboto-Medium", sans-serif; }
      .notification .description-notification .content-notification ul li .heure-notification {
        float: left;
        font-family: "Roboto", sans-serif;
        font-size: 11px;
        margin-top: 5px;
        margin-left: 84px;
        color: rgba(0, 0, 0, 0.5); }
    .notification .description-notification .content-notification ul li:after {
      content: url("../img/rectangle.png");
      position: absolute;
      left: 356px;
      margin-top: -50px; }
    .notification .description-notification .content-notification ul li:last-child {
      border-bottom: solid 1px #eeeeee; }

.notification:hover .description-notification {
  display: block; }

.my_account {
  width: 220px;
  height: 70px;
  float: right; }
  .my_account img {
    float: left;
    width: 34px;
    height: 34px;
    margin: 18px 13px 0 20px; }
  .my_account p {
    font-family: "Montserrat-Light", sans-serif;
    text-transform: uppercase;
    color: #202123;
    font-size: 13px;
    margin: 18px 0 0 0; }
  .my_account a {
    text-decoration: none;
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #383a3c; }

/***** Fin Header-Navogation *****/
/***** Partie Caroussel *****/
.slider {
  width: 100%;
  height: 530px;
  background-size: cover;
  background: url("../img/movie1.jpg") no-repeat center center; }
  .slider section {
    padding-top: 53px; }
    .slider section h1 {
      color: #fff;
      font-size: 48px;
      font-family: "Montserrat-Bold", sans-serif;
      width: 550px;
      line-height: 57px;
      text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
      margin: 14px 0 0 92px;
      padding: 0;
      text-transform: uppercase; }

.little-title {
  width: 124px;
  height: 31px;
  padding: 6px 17px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 15px;
  text-align: center;
  line-height: 31px;
  border: solid 2px #fff;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  border-radius: 1px;
  margin: 0px 0 0 95px; }
  .little-title h3 {
    margin: 0;
    padding: 0;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.5); }

.description h4 {
  color: #fff;
  margin: 118px 0 0 90px;
  font-family: "Roboto-Bold", sans-serif;
  padding: 0;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.8);
  font-size: 18px;
  width: 392px; }

.see-selection a {
  color: #fff;
  width: 270px;
  height: 56px;
  font-family: "Montserrat-Bold", sans-serif;
  margin: 23px 0 0 91px;
  font-size: 18px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #15B4A8;
  display: block;
  text-align: center;
  line-height: 56px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); }

/***** Fin Caroussel *****/
/***** Tabs *****/
.news #tabs .ul-link-tabs {
  padding: 0;
  margin: 0;
  height: 120px;
  background-color: #18191a; }
.news #tabs .ul-link-tabs li {
  height: 120px;
  float: left;
  list-style-type: none; }
.news #tabs .ul-link-tabs .ui-tabs-active {
  background-color: #f8f8f8; }
.news #tabs .ul-link-tabs .ui-tabs-active .link-tabs {
  color: #2a2a2a; }
.news #tabs .tabs-news {
  width: 443px;
  border-right: solid 1px #2a2a2a; }
.news #tabs .tabs-best {
  width: 377px;
  border-right: solid 1px #2a2a2a; }
.news #tabs .tabs-good {
  width: 443px; }
.news #tabs .ul-link-tabs li .link-tabs {
  text-decoration: none;
  font-family: "Roboto-Thin", sans-serif;
  font-size: 32px;
  display: block;
  padding-left: 28px;
  padding-top: 45px;
  height: 70px;
  color: rgba(255, 255, 255, 0.7); }
.news #tabs .ul-link-tabs li:first-child .link-tabs {
  padding-left: 96px; }
.news .drop-tabs {
  width: 32px;
  height: 32px;
  top: -62px;
  float: right;
  position: relative;
  margin-right: 35px; }
.news #tabs .ul-link-tabs li:last-child .drop-tabs {
  margin-right: 96px; }
.news .aff-tabs {
  display: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: rgba(83, 73, 64, 0.6);
  width: 83px;
  margin-left: 28px;
  margin-top: -25px; }
.news #tabs .ul-link-tabs li:first-child .aff-tabs {
  margin-left: 96px; }
.news #tabs .ul-link-tabs .ui-tabs-active .aff-tabs {
  display: block; }
.news #tabs_container {
  min-height: 790px;
  width: 100%;
  background-color: #f8f8f8;
  padding-top: 61px; }
  .news #tabs_container #tabs-1 ul, .news #tabs_container #tabs-2 ul {
    margin-left: 28px; }
    .news #tabs_container #tabs-1 ul li, .news #tabs_container #tabs-2 ul li {
      width: 195px;
      height: 260px;
      float: left;
      list-style-type: none;
      margin: 0 0 90px 28px;
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
      .news #tabs_container #tabs-1 ul li img, .news #tabs_container #tabs-2 ul li img {
        width: 100%;
        height: 100%; }
      .news #tabs_container #tabs-1 ul li p, .news #tabs_container #tabs-2 ul li p {
        text-align: center;
        text-overflow: ellipsis;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.8);
        width: 195px;
        white-space: nowrap;
        overflow: hidden;
        margin: 18px 0 0 0; }
      .news #tabs_container #tabs-1 ul li .film-note_3, .news #tabs_container #tabs-2 ul li .film-note_3 {
        background: url("../img/star.png");
        background-size: 100% 100%;
        display: inline-block;
        width: 87px;
        height: 15px;
        margin: 4px 0 0 53px; }
      .news #tabs_container #tabs-1 ul li a .overflow-img, .news #tabs_container #tabs-2 ul li a .overflow-img {
        display: none;
        position: absolute;
        width: 195px;
        height: 260px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
        /* Saf4+, Chrome */
        background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
        /* Chrome 10+, Saf5.1+, iOS 5+ */
        background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
        /* FF3.6 */
        background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
        /* IE10 */
        background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
        /* Opera 11.10+ */
        background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.5)); }
        .news #tabs_container #tabs-1 ul li a .overflow-img button, .news #tabs_container #tabs-2 ul li a .overflow-img button {
          width: 38px;
          height: 30px;
          text-align: center;
          font-size: 15px;
          border: none;
          color: #18191a;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px;
          background-color: #f8f8f8;
          -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
          margin: 12px 0 0 146px; }
        .news #tabs_container #tabs-1 ul li a .overflow-img button:hover, .news #tabs_container #tabs-2 ul li a .overflow-img button:hover {
          background-color: #15B4A8;
          color: #fff; }
        .news #tabs_container #tabs-1 ul li a .overflow-img .see-ba:before, .news #tabs_container #tabs-1 ul li a .overflow-img .add-list:before, .news #tabs_container #tabs-2 ul li a .overflow-img .see-ba:before, .news #tabs_container #tabs-2 ul li a .overflow-img .add-list:before {
          content: "";
          position: absolute;
          z-index: 9999999999;
          border-color: #212324;
          background-color: #212324;
          border-style: solid;
          height: 5px;
          width: 5px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .news #tabs_container #tabs-1 ul li a .overflow-img .add-list:before, .news #tabs_container #tabs-2 ul li a .overflow-img .add-list:before {
          left: 86px;
          top: 25px; }
        .news #tabs_container #tabs-1 ul li a .overflow-img .see-ba:before, .news #tabs_container #tabs-2 ul li a .overflow-img .see-ba:before {
          left: 86px;
          top: -5px; }
        .news #tabs_container #tabs-1 ul li a .overflow-img .see-ba, .news #tabs_container #tabs-1 ul li a .overflow-img .add-list, .news #tabs_container #tabs-2 ul li a .overflow-img .see-ba, .news #tabs_container #tabs-2 ul li a .overflow-img .add-list {
          display: none;
          white-space: nowrap;
          text-align: center;
          width: 177px;
          left: 74px;
          position: absolute;
          z-index: 9999999999;
          line-height: 32px;
          font-family: "Roboto-Medium", sans-serif;
          font-size: 13px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px;
          -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
          -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
        .news #tabs_container #tabs-1 ul li a .overflow-img .add-list, .news #tabs_container #tabs-2 ul li a .overflow-img .add-list {
          margin-top: -73px; }
        .news #tabs_container #tabs-1 ul li a .overflow-img .see-ba, .news #tabs_container #tabs-2 ul li a .overflow-img .see-ba {
          margin-top: 15px; }
        .news #tabs_container #tabs-1 ul li a .overflow-img button:hover .see-ba, .news #tabs_container #tabs-1 ul li a .overflow-img button:hover .add-list, .news #tabs_container #tabs-2 ul li a .overflow-img button:hover .see-ba, .news #tabs_container #tabs-2 ul li a .overflow-img button:hover .add-list {
          display: block;
          background-color: #212324; }
      .news #tabs_container #tabs-1 ul li a:hover .overflow-img, .news #tabs_container #tabs-2 ul li a:hover .overflow-img {
        display: block; }
  .news #tabs_container #tabs-3 ul {
    margin-left: 28px; }
    .news #tabs_container #tabs-3 ul li {
      width: 195px;
      height: 260px;
      float: left;
      list-style-type: none;
      margin: 0 0 80px 28px;
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
    .news #tabs_container #tabs-3 ul li:first-child {
      width: 340px;
      height: 578px;
      padding: 20px 20px 0 20px;
      background-color: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      margin-right: 42px; }
      .news #tabs_container #tabs-3 ul li:first-child img {
        width: 340px;
        height: 455px; }
      .news #tabs_container #tabs-3 ul li:first-child p {
        width: 340px;
        font-size: 22px;
        color: rgba(0, 0, 0, 0.9);
        margin: 30px 0 0 0; }
      .news #tabs_container #tabs-3 ul li:first-child .note {
        font-size: 15px;
        margin-top: 6px;
        font-family: "Roboto-Bold", sans-serif;
        color: rgba(33, 35, 36, 0.8); }
      .news #tabs_container #tabs-3 ul li:first-child .note_3 {
        background: url("../img/star.png");
        background-size: 100% 100%;
        display: inline-block;
        width: 99px;
        height: 18px; }
    .news #tabs_container #tabs-3 ul img {
      width: 100%;
      height: 100%; }
    .news #tabs_container #tabs-3 ul p {
      text-align: center;
      text-overflow: ellipsis;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.8);
      width: 195px;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 18px; }

.more-movie {
  text-align: center;
  margin-top: 10px; }
  .more-movie a {
    color: #534940;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-decoration: none; }

/***** Fin Tabs *****/
/***** Just for You *****/
.just-for-you {
  width: 100%;
  height: 440px;
  background-color: #15B4A8;
  padding-top: 50px; }
  .just-for-you .title-just {
    float: left; }
    .just-for-you .title-just h3 {
      color: #fff;
      font-family: "Roboto-Thin", sans-serif;
      font-size: 32px !important;
      margin: 0 0 0 96px;
      font-weight: 300; }
    .just-for-you .title-just a {
      color: #fff;
      font-family: "Roboto-Light", sans-serif;
      text-decoration: none;
      margin-left: 96px;
      font-size: 13px; }
  .just-for-you .discover-just {
    float: right;
    margin-right: 96px;
    margin-top: 2px; }
    .just-for-you .discover-just a {
      color: #fff;
      display: block;
      background-color: #118f86;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      border-radius: 50px;
      font-family: "Roboto-Light", sans-serif;
      text-decoration: none;
      font-size: 18px;
      padding: 10px 18px 10px 18px; }

.carousel ul li {
  width: 195px;
  height: 260px;
  float: left;
  list-style-type: none;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.6); }
  .carousel ul li img {
    width: 100%;
    height: 100%; }
  .carousel ul li p {
    text-align: center;
    text-overflow: ellipsis;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #fff;
    width: 195px;
    white-space: nowrap;
    overflow: hidden;
    margin: 18px 0 0 0; }
  .carousel ul li .film-note_3 {
    background: url("../img/star.png");
    background-size: 100% 100%;
    display: inline-block;
    width: 87px;
    height: 15px;
    margin: 4px 0 0 53px; }
  .carousel ul li a .overflow-img {
    display: none;
    position: absolute;
    width: 195px;
    height: 260px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    /* FF3.6 */
    background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    /* IE10 */
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    /* Opera 11.10+ */
    background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.5)); }
    .carousel ul li a .overflow-img button {
      width: 38px;
      height: 30px;
      text-align: center;
      font-size: 15px;
      border: none;
      color: #18191a;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px;
      background-color: #f8f8f8;
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      margin: 12px 0 0 146px; }
    .carousel ul li a .overflow-img button:hover {
      background-color: #15B4A8;
      color: #fff; }
    .carousel ul li a .overflow-img .see-ba:before, .carousel ul li a .overflow-img .add-list:before {
      content: "";
      position: absolute;
      z-index: 9999999999;
      border-color: #212324;
      background-color: #212324;
      border-style: solid;
      height: 5px;
      width: 5px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .carousel ul li a .overflow-img .add-list:before {
      left: 86px;
      top: 25px; }
    .carousel ul li a .overflow-img .see-ba:before {
      left: 86px;
      top: -5px; }
    .carousel ul li a .overflow-img .see-ba, .carousel ul li a .overflow-img .add-list {
      display: none;
      white-space: nowrap;
      text-align: center;
      width: 177px;
      left: 74px;
      position: absolute;
      z-index: 9999999999;
      line-height: 32px;
      font-family: "Roboto-Medium", sans-serif;
      font-size: 13px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
    .carousel ul li a .overflow-img .add-list {
      margin-top: -73px; }
    .carousel ul li a .overflow-img .see-ba {
      margin-top: 15px; }
    .carousel ul li a .overflow-img button:hover .see-ba, .carousel ul li a .overflow-img button:hover .add-list {
      display: block;
      background-color: #212324; }
  .carousel ul li a:hover .overflow-img {
    display: block; }

/***** Fin Jus for You *****/
/***** Our Selection *****/
.our-selection {
  width: 100%;
  height: 800px;
  background-color: #212324;
  padding-top: 70px; }
  .our-selection .title-selection h3 {
    color: #fff;
    font-family: "Roboto-Thin", sans-serif;
    font-size: 32px !important;
    margin: 0 0 0 96px;
    font-weight: 300; }
  .our-selection .title-selection a {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto-Light", sans-serif;
    text-decoration: none;
    margin-left: 96px;
    font-size: 13px; }
  .our-selection .bloc-selection ul {
    padding: 0 96px 0 96px;
    margin: 0; }
    .our-selection .bloc-selection ul li {
      margin: 0;
      padding: 0; }
    .our-selection .bloc-selection ul li:first-child {
      margin: -79px 0 0 0; }
  .our-selection .bloc-selection .fnac-expert {
    float: left;
    height: 208px;
    position: relative; }
    .our-selection .bloc-selection .fnac-expert section {
      position: absolute;
      bottom: 0; }
      .our-selection .bloc-selection .fnac-expert section img {
        width: 60px;
        height: 60px; }
      .our-selection .bloc-selection .fnac-expert section p {
        font-family: "Roboto", sans-serif;
        color: rgba(255, 255, 255, 0.7);
        font-size: 13px;
        width: 210px;
        margin: 18px 0 0 0; }
  .our-selection .bloc-selection .img-selection {
    float: right;
    width: 825px;
    height: 200px;
    position: relative; }
    .our-selection .bloc-selection .img-selection a .text-selection {
      z-index: 10;
      width: 100%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
      /* Standard syntax */
      position: absolute; }
      .our-selection .bloc-selection .img-selection a .text-selection h4 {
        font-family: "Montserrat-Bold", sans-serif;
        font-size: 28px;
        color: #fff;
        text-transform: uppercase;
        width: 350px;
        margin: 42px 0 0 59px; }
      .our-selection .bloc-selection .img-selection a .text-selection p {
        font-family: "Roboto-Medium", sans-serif;
        font-size: 15px;
        color: #fff;
        width: 285px;
        margin: 10px 0 0 59px; }
    .our-selection .bloc-selection .img-selection a img {
      width: 825px;
      height: 200px;
      -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
  .our-selection .more-selection {
    text-align: left;
    margin-top: 35px;
    margin-left: 362px; }
    .our-selection .more-selection a {
      color: rgba(255, 255, 255, 0.7);
      font-size: 18px;
      font-family: "Roboto", sans-serif;
      text-decoration: none; }

/***** Fin Our selection *****/
/***** Reduction *****/
.more-reduction {
  text-align: center;
  margin-top: 35px; }
  .more-reduction a {
    color: #534940;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-decoration: none; }

.bloc-reduction {
  width: 100%;
  height: 630px;
  padding-top: 60px;
  background-color: #f8f8f8; }
  .bloc-reduction #reduction .ul-link-reduction {
    padding: 0;
    margin: 0 0 0 96px; }
    .bloc-reduction #reduction .ul-link-reduction li {
      list-style-type: none;
      float: left;
      padding: 0;
      text-align: center;
      margin: 0 28px 0 0;
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
      .bloc-reduction #reduction .ul-link-reduction li a {
        display: block;
        width: 530px;
        font-family: "Montserrat-Bold", sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        height: 140px;
        line-height: 140px;
        text-decoration: none;
        color: rgba(33, 35, 36, 0.6); }
    .bloc-reduction #reduction .ul-link-reduction .ui-state-active {
      background-color: #15B4A8; }
      .bloc-reduction #reduction .ul-link-reduction .ui-state-active a {
        color: #fff; }
  .bloc-reduction #reduction #reduction_container {
    min-height: 420px;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 61px; }
    .bloc-reduction #reduction #reduction_container #reduction-1 ul, .bloc-reduction #reduction #reduction_container #reduction-2 ul {
      margin-left: 28px; }
      .bloc-reduction #reduction #reduction_container #reduction-1 ul li, .bloc-reduction #reduction #reduction_container #reduction-2 ul li {
        width: 195px;
        height: 260px;
        float: left;
        list-style-type: none;
        margin: 0 0 90px 28px;
        -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
        .bloc-reduction #reduction #reduction_container #reduction-1 ul li img, .bloc-reduction #reduction #reduction_container #reduction-2 ul li img {
          width: 100%;
          height: 100%; }
        .bloc-reduction #reduction #reduction_container #reduction-1 ul li p, .bloc-reduction #reduction #reduction_container #reduction-2 ul li p {
          text-align: center;
          text-overflow: ellipsis;
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          color: rgba(0, 0, 0, 0.8);
          width: 195px;
          white-space: nowrap;
          overflow: hidden;
          margin: 18px 0 0 0; }
        .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img {
          display: none;
          position: absolute;
          width: 195px;
          height: 260px;
          background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
          /* Saf4+, Chrome */
          background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
          /* Chrome 10+, Saf5.1+, iOS 5+ */
          background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
          /* FF3.6 */
          background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
          /* IE10 */
          background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
          /* Opera 11.10+ */
          background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.5)); }
          .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img button, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img button {
            width: 38px;
            height: 30px;
            text-align: center;
            font-size: 15px;
            border: none;
            color: #18191a;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
            background-color: #f8f8f8;
            -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            margin: 12px 0 0 146px; }
          .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img button:hover, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img button:hover {
            background-color: #15B4A8;
            color: #fff; }
          .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img .see-ba:before, .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img .add-list:before, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img .see-ba:before, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img .add-list:before {
            content: "";
            position: absolute;
            z-index: 9999999999;
            border-color: #212324;
            background-color: #212324;
            border-style: solid;
            height: 5px;
            width: 5px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
          .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img .add-list:before, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img .add-list:before {
            left: 86px;
            top: 25px; }
          .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img .see-ba:before, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img .see-ba:before {
            left: 86px;
            top: -5px; }
          .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img .see-ba, .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img .add-list, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img .see-ba, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img .add-list {
            display: none;
            white-space: nowrap;
            text-align: center;
            width: 177px;
            left: 74px;
            position: absolute;
            z-index: 9999999999;
            line-height: 32px;
            font-family: "Roboto-Medium", sans-serif;
            font-size: 13px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px;
            -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
          .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img .add-list, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img .add-list {
            margin-top: -73px; }
          .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img .see-ba, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img .see-ba {
            margin-top: 15px; }
          .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img button:hover .see-ba, .bloc-reduction #reduction #reduction_container #reduction-1 ul li a .overflow-img button:hover .add-list, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img button:hover .see-ba, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a .overflow-img button:hover .add-list {
            display: block;
            background-color: #212324; }
        .bloc-reduction #reduction #reduction_container #reduction-1 ul li a:hover .overflow-img, .bloc-reduction #reduction #reduction_container #reduction-2 ul li a:hover .overflow-img {
          display: block; }

/***** Fin Reduction ******/
/***** Newsletter *****/
.newsletter {
  width: 100%;
  height: 72px;
  padding-top: 27px;
  border-top: solid 1px #d8d8d8;
  text-align: center;
  background-color: #f8f8f8; }
  .newsletter form label {
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    font-size: font-size-15;
    color: #212324; }
  .newsletter form input {
    width: 326px;
    height: 44px;
    margin: 0 0 0 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: rgba(33, 35, 36, 0.6);
    border: solid 1px rgba(216, 216, 216, 0.7);
    padding: 0 0 0 20px; }
  .newsletter form button {
    width: 180px;
    height: 42px;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 0 20px;
    color: rgba(33, 35, 36, 0.8);
    background-color: #f8f8f8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: solid 2px rgba(33, 35, 36, 0.8); }

/***** Fin Newsletter *****/
/***** Application *****/
.application {
  width: 100%;
  height: 390px; }
  .application .img-device {
    float: left; }
    .application .img-device img {
      width: 473px;
      height: 302px;
      margin: 44px 0 0 180px; }
  .application .descr-app {
    float: right; }
    .application .descr-app p {
      margin: 110px 255px 0 0;
      width: 320px;
      font-family: "Roboto-Medium", sans-serif;
      font-size: 18px;
      color: rgba(33, 35, 36, 0.8); }
    .application .descr-app .apple {
      width: 135px;
      margin-top: 23px;
      height: 40px; }
    .application .descr-app .android {
      width: 117px;
      margin-top: 23px;
      height: 41px; }

/***** Fin Application *****/
/***** Footer *****/
footer {
  width: 100%; }
  footer .container-footer {
    border-top: solid 1px rgba(216, 216, 216, 0.7);
    margin: 0 96px 0 96px;
    height: 210px; }
    footer .container-footer ul {
      width: 210px;
      padding: 0;
      float: left;
      margin: 35px 90px 0 0; }
      footer .container-footer ul li {
        list-style-type: none; }
        footer .container-footer ul li a {
          color: rgba(216, 216, 216, 0.9);
          font-family: "Roboto", sans-serif;
          font-size: 15px;
          text-decoration: none; }
    footer .container-footer .reseaux {
      float: right; }
      footer .container-footer .reseaux img {
        width: 105px;
        height: 32px;
        float: right;
        margin: 35px 0 0 0; }
      footer .container-footer .reseaux .icon-sociaux {
        float: none;
        margin: 50px 0 0 0;
        padding: 0;
        width: 185px; }
        footer .container-footer .reseaux .icon-sociaux li {
          float: right;
          list-style-type: none;
          margin-left: 15px; }
          footer .container-footer .reseaux .icon-sociaux li a {
            font-size: 22px; }

/***** Fin Footer *****/
/****** Style custom tooltip *****/
.tooltipster-content {
  background-color: #fff;
  color: #000;
  width: 326px;
  height: 352px;
  border: none !important;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); }
  .tooltipster-content h4 {
    color: #18191a;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 22px;
    width: 230px;
    margin: 26px 0 0 30px;
    line-height: 26px; }
  .tooltipster-content .genre-aff {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 13px;
    color: #18191a;
    margin: 10px 0 0 30px; }
    .tooltipster-content .genre-aff .vost-aff {
      width: 36px;
      height: 16px;
      margin-top: -3px; }
    .tooltipster-content .genre-aff .picto-age {
      width: 21px;
      height: 21px;
      margin-top: -7px; }
  .tooltipster-content .acteur-aff {
    color: rgba(24, 25, 26, 0.8);
    font-family: "Roboto-Medium", sans-serif;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 270px;
    margin: 0 0 0 30px; }
  .tooltipster-content .origine-aff {
    color: rgba(24, 25, 26, 0.8);
    font-family: "Roboto-Medium", sans-serif;
    font-size: 13px;
    width: 270px;
    margin: 3px 0 0 30px; }
  .tooltipster-content .catchphrase {
    color: rgba(24, 25, 26, 0.5);
    font-family: "Roboto-BoldItalic", sans-serif;
    display: block;
    padding-left: 10px;
    border-left: solid 3px rgba(24, 25, 26, 0.1);
    font-size: 13px;
    width: 230px;
    margin: 24px 0 0 30px; }
  .tooltipster-content button {
    width: 270px;
    height: 40px;
    font-family: "Montserrat-Bold", sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 0 13px 0 16px; }
  .tooltipster-content .achat-aff {
    background-color: #15B4A8;
    margin: 12px 0 0 30px;
    color: #fff; }
  .tooltipster-content .cross-bar {
    text-decoration: line-through; }
  .tooltipster-content .price {
    font-size: 18px; }
  .tooltipster-content .right {
    float: right; }
  .tooltipster-content .louer-aff {
    background-color: #E9E6E0;
    margin: 10px 0 20px 30px;
    color: #56544D; }
  .tooltipster-content a {
    color: rgba(24, 25, 26, 0.5);
    font-size: 13px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    margin-left: 118px; }

/***** Fin Style custom tooltip *****/

/*# sourceMappingURL=style.css.map */
