/***** Variables *****/

$primary-color: #f5b027;
$adult-color: #de0477;
$film-color: #15B4A8;
$young-color: #f46317;
$serie-color: #714299;
$spectacle-color: #15b4a8;
$white-color: #fff;
$black-color: #000;
$nav_dark-gray: #2a2a2a;
$nav_light-gray: #eef0f2;
$border-notification: #d9d9d9;
$link_gray-color: #d8d8d8;
$black_title-color: #171717;
$header_black-color: #18191a;
$color-limit-age: #151515;
$selection_black-color: #212324;
$name_gray-color: #202123;
$account_gray-color: #383a3c;
$border-menu: #eeeeee;
$title-menu-film: #040404;
$new-price: #e70000;
$old-price: #222222;
$gray-tabs: #f8f8f8;
$aff-tabs: #534940;
$white-button: #E9E6E0;
$color-white-button: #56544D;
$button-inscrire: #212324;

$shadow-image: 0px 1px 4px rgba($black-color, 0.3);
$from-gradient: rgba($black-color, 0.0);
$to-gradient: rgba($black-color, 0.5);

$montserrat: "Montserrat", sans-serif;
$montserrat-light: "Montserrat-Light", sans-serif;
$montserrat-bold: "Montserrat-Bold", sans-serif;
$roboto: "Roboto", sans-serif;
$roboto-thin: "Roboto-Thin", sans-serif;
$roboto-light: "Roboto-Light", sans-serif;
$roboto-medium: "Roboto-Medium", sans-serif;
$roboto-bold: "Roboto-Bold", sans-serif;
$roboto-bolditalic: "Roboto-BoldItalic", sans-serif;

$font-size-11: 11px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-18: 18px;
$font-size-22: 22px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-48: 48px;

/***** Mixins *****/

@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
}

@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin linear-gradient($fromColor, $toColor) {
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
}

/***** Debut CSS *****/

.clear {
    clear: both;
}

/***** Header - Navigation *****/

header {
    width: 100%;
    height: 70px;
    background-color: $header_black-color;
    border-bottom: solid 3px $primary-color;
    .logo {
        float: left;
        text-align: center;
        margin-top: 21px;
        margin-left: 28px;
        width: 120px;
        img {
            width: 100%;
        }
    }
}

nav {
    float: left;
    ul {
        padding: 0;
        margin: 0 0 0 26px;
    }
    ul li {
        line-height: 70px;
        float: left;
    }
    ul li a {
        color: rgba($white-color, 0.7);
        font-family: $montserrat;
        text-transform: uppercase;
        font-size: $font-size-14;
        text-decoration: none;
        display: block;
        text-align: center;
        line-height: 70px;
        padding: 0 20px 0 20px;
        img {
            margin-right: 6px;
            width: 21px;
            height: 21px;
        }
    }
}

.sub-menu {
    position: absolute;
    left: 0;
    width: 100%;
    top: 70px;
    display: none;
}

.genre, .selection, .bons-plans {
    float: left;
    height: 460px;
    background-color: $white-color;
}

.genre a, .selection a, .bons-plans a{
        font-family: $roboto-medium;
        line-height: normal;
        padding: 0;
        font-size: $font-size-15;
        text-transform: none;
        text-align: left;
        color: rgba($black-color, 0.5);
} 

.genre h4, .selection h4, .bons-plans h4{
        font-family: $montserrat-bold;
        font-size: $font-size-13;
        text-transform: uppercase;
        line-height: normal;
}

.genre{
    width: 322px;
    margin-left: 60px;
    border-right: solid 1px $border-menu;

    ul{
        margin-left: 113px;
        height: 300px;
    }

    ul li{
        .link-genre{
            margin: 0;
            float: none;
            width: 210px;
            height: 49px;
            line-height: 49px;
            border-top: solid 1px $border-menu;
            font-family: $roboto;
            font-size: $font-size-15;
            display: block;  
            color: $black-color !important;      
            }
    }

    ul li:last-child{
        border-bottom: solid 1px $border-menu;
    }

    ul li .link-genre:after{
        content: url('../img/rectangle.png');
        position: absolute;
        left: 356px;
    }

    h4{
        margin: 26px 0 17px 113px;
    }

    a{
        margin: 37px 0 0 113px;
    }
}

.selection {
    width: 541px;
    border-right: solid 1px $border-menu;

    h4{
        margin: 26px 0 17px 47px;
    }

    section{
        width: 440px;
        height: 99px;
        margin-left: 47px;
        border-top: solid 1px $border-menu;

        img{
            width: 104px;
            margin: 18px 19px 0 0;
            height: 64px;
            float:left;
            @include border-radius(1px);
            @include box-shadow($shadow-image);
        }

        .selection-descritption{
            float: left;
            margin-top: 17px;
            font-size: $font-size-18;
            color: rgba($black-color, 0.8);
            line-height: normal;
            width: 307px;

            .link-description{
                margin: 0;
                padding: 0;
                color: $black-color !important;
            }

            b{
                font-size: $font-size-18;
                font-family: $roboto;
            }
            
            p{
                margin: 2px 0 0 0;
                font-size: $font-size-13;
                font-family: $roboto;
            }
        }
    }

    .last{
        border-bottom:solid 1px $border-menu;
    }

    a{
        margin: 34px 0 0 47px;
    }
}

.bons-plans {
    width: 295px;

    h4{
        margin: 26px 0 17px 49px;
    }

    img{
        width: 195px;
        height: 260px;
        margin-left: 50px;
        @include border-radius(1px);
        @include box-shadow(0px 1px 4px rgba($black-color, 0.3));
    }

    .reduction{
        position: relative;
        top: -240px;
        left: 45px;
        
        div{
            width: 55px;
            height: 27px;
            float:left;
            line-height: 27px;
            text-align: center;
        }

        .new-price{
            background-color: $new-price;
            font-family: $montserrat-bold;
            color: $white-color;
            font-size: $font-size-13;
        }

        .old-price{
            font-family: $montserrat-light;
            font-size: $font-size-13;
            color: rgba($white-color, 0.7);
            text-decoration: line-through;
            background-color: rgba($old-price, 0.8);
        }
    }

    p{
        clear: both;
        font-size: $font-size-13;
        font-family: $roboto;
        color: rgba($title-menu-film, 0.5);
        margin: 19px 0 0 0;
        text-align: center;
        line-height: normal;
    }

    a{
        margin: 30px 0 0 49px;
    }

    .link-affiche{
    margin: 0;
}
}

.movie:hover .sub-menu a, .serie:hover .sub-menu a, .young:hover .sub-menu a, .spectacle:hover .sub-menu a, .adult:hover .sub-menu a{
    color: rgba(0, 0, 0, 0.5);
}

.border-bottom{
    clear: both;
    margin-left: 60px;
    width: 1160px;
}

.movie {
    .sub-menu {
        border-top: solid 3px $film-color;

        .border-bottom {
            border-bottom: solid 10px $film-color;
        }
    }
}

.serie {
    .sub-menu {
        border-top: solid 3px $serie-color;
        
        .border-bottom {
            border-bottom: solid 10px $serie-color;
        }
    }
}

.young {
    .sub-menu {
        border-top: solid 3px $young-color;

        .border-bottom {
            border-bottom: solid 10px $young-color;
        }
    }
}

.spectacle {
    .sub-menu {
        border-top: solid 3px $spectacle-color;

        .border-bottom {
            border-bottom: solid 10px $spectacle-color;
        }
    }
}

.adult {
    .limit-age{
        margin-right: 6px;
        background-color: rgba($white-color, 0.4);
        padding: 2px 2px 0 0;
        color: $color-limit-age;
        font-family: $roboto-bold;
        border-radius: 50%;
        font-size: $font-size-13;
    }

    .sub-menu {
        border-top: solid 3px $adult-color;
        .border-bottom {
            border-bottom: solid 10px $adult-color;
        }
    }
}

.movie:hover {
    background-color: $film-color;

	a{
    	color: $white-color;
    }

    .sub-menu {
        display: block;

        h4{
            color: $film-color;
        }
    }
}

.serie:hover {
    background-color: $serie-color;

	a{
    	color: $white-color;
    }

    .sub-menu {
        display: block;

        h4{
        color: $serie-color;
        }
    }
}

.young:hover {
    background-color: $young-color;

    a{
    	color: $white-color;
    }

    .sub-menu {
        display: block;

        h4{
        color: $young-color;
    }
    }
}

.spectacle:hover {
    background-color: $spectacle-color;

	a{
    	color: $white-color;
    }

    .sub-menu {
        display: block;

        h4{
            color: $spectacle-color;
        }
    }
}

.adult:hover {
    background-color: $adult-color;

    .limit-age, a{
    	color: $white-color;
    }

    .sub-menu {
        display: block;

        h4{
            color: $adult-color;
        }
    }
}

.search {
    height: 70px;
    margin-left: 20px;
    float: left;
    a {
        display: block;
        margin: 16px auto;
        height: 38px;
        line-height: 38px;
        width: 170px;
        color: rgba($white-color, 0.6);
        text-decoration: none;
        font-family: $roboto-medium;
        font-size: $font-size-15;
        background-color: $nav_dark-gray;
        @include border-radius(3px);
    }
    a img {
        margin-left: 29px;
        width: 16px;
        height: 16px;
        margin-right: 13px;
    }
}

.my_fnacplay {
    width: 281px;
    float: right;
    height: 70px;
    background-color: $nav_light-gray;
}

.notification {
    width: 60px;
    height: 70px;
    border-right: solid 1px $border-notification;
    float: left;
    cursor: pointer;
    
    .indice-notification{
        position: absolute;
        text-align: center;
        font-size: $font-size-13;
        top: 13px;
        margin-left: 31px;
        font-family: $roboto-bold;
        width: 20px;
        border-radius: 6px;
        border: solid 2px $nav_light-gray;
        line-height: 20px;
        color: $white-color;
        background-color: $header_black-color;
    }

    img {
        width: 24px;
        height: 26px;
        margin: 24px 0 0 18px;
    }

    .description-notification::before{
        content: '';
        position: absolute;
        border-color: $white-color;
        background-color: $white-color;
        border-style: solid;
        height: 10px;
        top: -7px;
        left: 185px;
        @include rotate(45);
        width: 10px;
    }

    .description-notification{
        display: none;
        cursor: default;
        width: 380px;
        height: 470px;
        background-color: $white-color;
        position: relative;
        top: 20px;
        left: -169px;
        padding-top: 30px;
        @include box-shadow(0px 1px 5px rgba($black-color, 0.3));

        .header-notification{
            margin-bottom: 18px;
            b{
                font-family: $montserrat-bold;
                text-transform: uppercase;
                font-size: $font-size-13;
                margin-left: 30px;
            }

            a{
                font-family: $roboto-medium;
                font-size: $font-size-13;
                color: rgba($black-color, 0.5);
                text-decoration: none;
                float: right;
                margin-right: 30px;
            }
        }

        .content-notification{
            ul{
                margin: 0;
                padding: 0;
            }

            ul li{
                width: 380px;
                height: 100px;
                border-top: solid 1px $border-menu;
                list-style-type: none;

                img{
                    width: 38px;
                    height: 38px;
                    @include border-radius(50%);
                    margin: 18px 0 0 29px;
                    float: left;
                }

                .detail-notification{
                    margin: 19px 0 0 17px;
                    width: 257px;
                    font-family: $roboto;
                    font-size: $font-size-15;
                    line-height: 20px;
                    color: rgba($black-color, 0.8);
                    float: left;

                    span{
                        font-family: $roboto-medium;
                    }
                }

                .heure-notification{
                    float: left;
                    font-family: $roboto;
                    font-size: $font-size-11;
                    margin-top: 5px;
                    margin-left: 84px;
                    color: rgba($black-color, 0.5);
                }
            }

            ul li:after{
                content: url('../img/rectangle.png');
                position: absolute;
                left: 356px;
                margin-top: -50px
            }

            ul li:last-child{
                border-bottom: solid 1px $border-menu;
            }
        }
    }
}

.notification:hover .description-notification{
    display: block;
}

.my_account {
    width: 220px;
    height: 70px;
    float: right;
    img {
        float: left;
        width: 34px;
        height: 34px;
        margin: 18px 13px 0 20px;
    }
    p {
        font-family: $montserrat-light;
        text-transform: uppercase;
        color: $name_gray-color;
        font-size: $font-size-13;
        margin: 18px 0 0 0;
    }
    a {
        text-decoration: none;
        font-family: $montserrat-bold;
        text-transform: uppercase;
        font-size: $font-size-15;
        font-weight: 700;
        color: $account_gray-color;
    }
}

/***** Fin Header-Navogation *****/

/***** Partie Caroussel *****/

.slider {
    width: 100%;
    height: 530px;
    background-size: cover;
    background: url("../img/movie1.jpg") no-repeat center center;
    section {
        padding-top: 53px;
        h1 {
            color: $white-color;
            font-size: $font-size-48;
            font-family: $montserrat-bold;
            width: 550px;
            line-height: 57px;
            text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
            margin: 14px 0 0 92px;
            padding: 0;
            text-transform: uppercase;
        }
    }
}

.little-title {
    width: 124px;
    height: 31px;
    padding: 6px 17px;
    color: $white-color;
    text-transform: uppercase;
    font-family: $montserrat-bold;
    font-size: $font-size-15;
    text-align: center;
    line-height: 31px;
    border: solid 2px $white-color;
    @include border-radius(1px);
    margin: 0px 0 0 95px;
    h3 {
        margin: 0;
        padding: 0;
        text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
    }
}

.description {
    h4 {
        color: $white-color;
        margin: 118px 0 0 90px;
        font-family: $roboto-bold;
        padding: 0;
        text-shadow: 0px 1px rgba(0, 0, 0, 0.8);
        font-size: $font-size-18;
        width: 392px;
    }
}

.see-selection {
    a {
        color: $white-color;
        width: 270px;
        height: 56px;
        font-family: $montserrat-bold;
        margin: 23px 0 0 91px;
        font-size: $font-size-18;
        text-decoration: none;
        @include border-radius(3px);
        background-color: $film-color;
        display: block;
        text-align: center;
        line-height: 56px;
        text-transform: uppercase;
        @include box-shadow(0px 2px 4px rgba($black-color, 0.5));
    }
}

/***** Fin Caroussel *****/


/***** Tabs *****/

.news{

    #tabs .ul-link-tabs{
        padding: 0;
        margin: 0;
        height: 120px;
        background-color: $header_black-color;
    }

    #tabs .ul-link-tabs li{
        height:120px;
        float:left;
        list-style-type:none;
    }

    #tabs .ul-link-tabs .ui-tabs-active{
        background-color: $gray-tabs;
    }

    #tabs .ul-link-tabs .ui-tabs-active .link-tabs{
        color: $nav_dark-gray;
    }

    #tabs .tabs-news{
        width: 443px;
        border-right: solid 1px $nav_dark-gray;
    }

    #tabs .tabs-best{
        width: 377px;
        border-right: solid 1px $nav_dark-gray;
    }

    #tabs .tabs-good{
        width: 443px;
    }

    #tabs .ul-link-tabs li .link-tabs{
        text-decoration: none;
        font-family: $roboto-thin;
        font-size: $font-size-32;
        display: block;
        padding-left: 28px;
        padding-top: 45px;
        height: 70px;
        color: rgba($white-color, 0.7);
    }

    #tabs .ul-link-tabs li:first-child .link-tabs{
        padding-left: 96px;
    }

    .drop-tabs{
        width: 32px;
        height: 32px;
        top: -62px;
        float: right;
        position: relative;
        margin-right: 35px;
    }

    #tabs .ul-link-tabs li:last-child .drop-tabs{
        margin-right: 96px;
    }

    .aff-tabs{
        display: none;
        text-decoration: none;
        font-family: $roboto;
        font-size: $font-size-13;
        color: rgba($aff-tabs, 0.6);
        width: 83px;
        margin-left: 28px;
        margin-top: -25px;
    }

    #tabs .ul-link-tabs li:first-child .aff-tabs{
        margin-left: 96px;
    }

    #tabs .ul-link-tabs .ui-tabs-active .aff-tabs{
        display: block;
    }

    #tabs_container{
        min-height: 790px;
        width: 100%;
        background-color: $gray-tabs;
        padding-top: 61px;

        #tabs-1, #tabs-2{

            ul{
                margin-left: 28px;

                li{
                    width: 195px;
                    height: 260px;
                    float: left;
                    list-style-type: none;
                    margin: 0 0 90px 28px;
                    @include box-shadow($shadow-image);

                    img{
                        width: 100%;
                        height: 100%;
                    }

                    p{
                        text-align:center;
                        text-overflow: ellipsis;
                        font-family: $roboto;
                        font-size: $font-size-15;
                        color: rgba( $black-color, 0.8);
                        width: 195px;
                        white-space: nowrap;
                        overflow: hidden;
                        margin: 18px 0 0 0;
                    }

                    .film-note_3{
                        background: url('../img/star.png');
                        background-size: 100% 100%;
                        display: inline-block;
                        width: 87px;
                        height: 15px;
                        margin: 4px 0 0 53px;
                    }

                    a{
                        .overflow-img{
                            display: none;
                            position: absolute;
                            width: 195px;
                            height: 260px;
                            @include linear-gradient($from-gradient, $to-gradient);

                            button{
                                width: 38px;
                                height: 30px;
                                text-align:center; 
                                font-size: $font-size-15;
                                border: none;
                                color: $header_black-color;
                                @include border-radius(3px);
                                background-color: $gray-tabs;
                                @include box-shadow($shadow-image);
                                margin: 12px 0 0 146px;
                            }

                            button:hover{
                                background-color: $film-color;
                                color: $white-color;
                            }

                            .see-ba:before, .add-list:before{
                                content: "";
                                position: absolute;
                                z-index: 9999999999;
                                border-color: $selection_black-color;
                                background-color: $selection_black-color;
                                border-style:solid;
                                height:5px;
                                width: 5px;
                                @include rotate(45);
                            }

                            .add-list:before{
                                left: 86px;
                                top: 25px; 
                            }

                            .see-ba:before{
                                left: 86px;
                                top: -5px;
                            }

                            .see-ba, .add-list{
                                display: none;
                                white-space: nowrap;
                                text-align: center;
                                width: 177px;
                                left: 74px;
                                position: absolute;
                                z-index: 9999999999;
                                line-height: 32px;
                                font-family: $roboto-medium;
                                font-size: $font-size-13;
                                @include border-radius(2px);
                                @include box-shadow($shadow-image);
                            }

                            .add-list{
                                margin-top: -73px;
                            }

                            .see-ba{
                                margin-top: 15px;
                            }

                            button:hover .see-ba, button:hover .add-list{
                                display: block;
                                background-color: $selection_black-color;
                                
                            }
                        }
                    }

                    a:hover{
                        .overflow-img{
                            display: block;
                        }
                    }
                }
            }
        }

        #tabs-3{
            ul{
                margin-left: 28px;
                
                li{
                    width: 195px;
                    height: 260px;
                    float: left;
                    list-style-type: none;
                    margin: 0 0 80px 28px;
                    @include box-shadow($shadow-image);
                }

                li:first-child{
                    width: 340px;
                    height: 578px;
                    padding: 20px 20px 0 20px;
                    background-color: $white-color;
                    @include border-radius(3px);
                    margin-right: 42px;

                    img{
                        width: 340px;
                        height: 455px;
                    }

                    p{
                        width: 340px;
                        font-size: $font-size-22;
                        color: rgba($black-color, 0.9);
                        margin: 30px 0 0 0;
                    }

                    .note{
                        font-size: $font-size-15;
                        margin-top: 6px;
                        font-family: $roboto-bold;
                        color: rgba($selection_black-color, 0.8);
                    }

                    .note_3{
                        background: url('../img/star.png');
                        background-size: 100% 100%;
                        display: inline-block;
                        width: 99px;
                        height: 18px;
                    }
                }
                
                img{
                        width: 100%;
                        height: 100%;
                }

                p{
                        text-align:center;
                        text-overflow: ellipsis;
                        font-family: $roboto;
                        font-size: $font-size-15;
                        color: rgba( $black-color, 0.8);
                        width: 195px;
                        white-space: nowrap;
                        overflow: hidden;
                        margin-top: 18px;
                }
            }
        }
    }
}

.more-movie{
    text-align:center;
    margin-top: 10px;
    a{
        color: $aff-tabs;
        font-size: $font-size-18;
        font-family: $roboto;
        text-decoration: none;
    }
}

/***** Fin Tabs *****/

/***** Just for You *****/

.just-for-you{
    width: 100%;
    height: 440px;
    background-color: $film-color;
    padding-top: 50px;

    .title-just{
    float: left;

        h3{
            color: $white-color;
            font-family: $roboto-thin;
            font-size: $font-size-32 !important;
            margin: 0 0 0 96px;
            font-weight: 300;
        }

        a{
            color: $white-color;
            font-family: $roboto-light;
            text-decoration: none;
            margin-left: 96px;
            font-size: $font-size-13;
        }
    }

    .discover-just{
        float: right;
        margin-right: 96px;
        margin-top: 2px;

        a{
            color: $white-color;
            display: block;
            background-color: darken($film-color, 8);
            @include border-radius(50px);
            font-family: $roboto-light;
            text-decoration:none;
            font-size: $font-size-18;
            padding: 10px 18px 10px 18px;
        }
    }
}

.carousel{

            ul{

                li{
                    width: 195px;
                    height: 260px;
                    float: left;
                    list-style-type: none;
                    @include box-shadow(0 2px 3px rgba(0,0,0,0.6));

                    img{
                        width: 100%;
                        height: 100%;
                    }

                    p{
                        text-align:center;
                        text-overflow: ellipsis;
                        font-family: $roboto;
                        font-size: $font-size-15;
                        color: $white-color;
                        width: 195px;
                        white-space: nowrap;
                        overflow: hidden;
                        margin: 18px 0 0 0;
                    }

                    .film-note_3{
                        background: url('../img/star.png');
                        background-size: 100% 100%;
                        display: inline-block;
                        width: 87px;
                        height: 15px;
                        margin: 4px 0 0 53px;
                    }

                    a{
                        .overflow-img{
                            display: none;
                            position: absolute;
                            width: 195px;
                            height: 260px;
                            @include linear-gradient($from-gradient, $to-gradient);

                            button{
                                width: 38px;
                                height: 30px;
                                text-align:center; 
                                font-size: $font-size-15;
                                border: none;
                                color: $header_black-color;
                                @include border-radius(3px);
                                background-color: $gray-tabs;
                                @include box-shadow($shadow-image);
                                margin: 12px 0 0 146px;
                            }

                            button:hover{
                                background-color: $film-color;
                                color: $white-color;
                            }

                            .see-ba:before, .add-list:before{
                                content: "";
                                position: absolute;
                                z-index: 9999999999;
                                border-color: $selection_black-color;
                                background-color: $selection_black-color;
                                border-style:solid;
                                height:5px;
                                width: 5px;
                                @include rotate(45);
                            }

                            .add-list:before{
                                left: 86px;
                                top: 25px; 
                            }

                            .see-ba:before{
                                left: 86px;
                                top: -5px;
                            }

                            .see-ba, .add-list{
                                display: none;
                                white-space: nowrap;
                                text-align: center;
                                width: 177px;
                                left: 74px;
                                position: absolute;
                                z-index: 9999999999;
                                line-height: 32px;
                                font-family: $roboto-medium;
                                font-size: $font-size-13;
                                @include border-radius(2px);
                                @include box-shadow($shadow-image);
                            }

                            .add-list{
                                margin-top: -73px;
                            }

                            .see-ba{
                                margin-top: 15px;
                            }

                            button:hover .see-ba, button:hover .add-list{
                                display: block;
                                background-color: $selection_black-color;
                                
                            }
                        }
                    }

                    a:hover{
                        .overflow-img{
                            display: block;
                        }
                    }
                }
            }
        }

/***** Fin Jus for You *****/

/***** Our Selection *****/

.our-selection{
    width: 100%;
    height: 800px;
    background-color: $selection_black-color;
    padding-top: 70px;

    .title-selection{

        h3{
            color: $white-color;
            font-family: $roboto-thin;
            font-size: $font-size-32 !important;
            margin: 0 0 0 96px;
            font-weight: 300;
        }

        a{
            color: rgba($white-color, 0.6);
            font-family: $roboto-light;
            text-decoration: none;
            margin-left: 96px;
            font-size: $font-size-13;
        }
    }

    .bloc-selection{
        ul{
            padding: 0 96px 0 96px;
            margin: 0;

            li{
                margin:0;
                padding: 0;
            }

            li:first-child{
                margin: -79px 0 0 0;
            }
        }
        .fnac-expert{
            float:left;
            height: 208px;
            position: relative;

            section{
                position: absolute;
                bottom: 0;

                img{
                    width: 60px;
                    height: 60px;
                }

                p{
                    font-family: $roboto;
                    color: rgba($white-color, 0.7);
                    font-size: $font-size-13;
                    width: 210px;
                    margin: 18px 0 0 0;
                }
            }
        }
        .img-selection{
            float:right;
            width: 825px;
            height: 200px;
            position:relative;

            a{
                .text-selection{
                    z-index:10;
                    width: 100%;
                    height: 100%;
                    background: -webkit-linear-gradient(left, rgba($black-color, 0.5) , rgba($black-color, 0.0)); /* For Safari 5.1 to 6.0 */
                    background: -o-linear-gradient(right, rgba($black-color, 0.5), rgba($black-color, 0.0)); /* For Opera 11.1 to 12.0 */
                    background: -moz-linear-gradient(right, rgba($black-color, 0.5), rgba($black-color, 0.0)); /* For Firefox 3.6 to 15 */
                    background: linear-gradient(to right, rgba($black-color, 0.5), rgba($black-color, 0.0)); /* Standard syntax */
                    position:absolute;

                    h4{
                        font-family: $montserrat-bold;
                        font-size: $font-size-28;
                        color: $white-color;
                        text-transform: uppercase;
                        width: 350px;
                        margin: 42px 0 0 59px;
                    }

                    p{
                        font-family: $roboto-medium;
                        font-size: $font-size-15;
                        color: $white-color;
                        width: 285px;
                        margin: 10px 0 0 59px;
                    }
                }

                img{
                    width: 825px;
                    height: 200px;
                    @include box-shadow(0px 2px 3px rgba($black-color, 0.3));
                    @include border-radius(3px);
                }
            }
        }
    }

    .more-selection{
    text-align:left;
    margin-top: 35px;
    margin-left: 362px;
    a{
        color: rgba($white-color, 0.7);
        font-size: $font-size-18;
        font-family: $roboto;
        text-decoration: none;
    }
}
}

/***** Fin Our selection *****/

/***** Reduction *****/
.more-reduction{
    text-align:center;
    margin-top: 35px;
    a{
        color: $aff-tabs;
        font-size: $font-size-18;
        font-family: $roboto;
        text-decoration: none;
    }
}

.bloc-reduction{
    width: 100%;
    height: 630px;
    padding-top: 60px;
    background-color: $gray-tabs;

    #reduction{
        .ul-link-reduction{
            padding: 0;
            margin: 0 0 0 96px;
            li{
                list-style-type: none;
                float: left;
                padding: 0;
                text-align: center;
                margin: 0 28px 0 0;
                @include box-shadow($shadow-image);

                a{
                    display: block;
                    width: 530px;
                    font-family: $montserrat-bold;
                    font-size: 24px;
                    text-transform: uppercase;
                    height: 140px;
                    line-height: 140px;
                    text-decoration: none;
                    color: rgba($selection_black-color, 0.6);
                }
            }

            .ui-state-active{
                background-color: $film-color;
                a{
                    color: $white-color;
                }
            }
        }

        #reduction_container{
        min-height: 420px;
        width: 100%;
        background-color: $gray-tabs;
        padding-top: 61px;

        #reduction-1, #reduction-2{

            ul{
                margin-left: 28px;

                li{
                    width: 195px;
                    height: 260px;
                    float: left;
                    list-style-type: none;
                    margin: 0 0 90px 28px;
                    @include box-shadow($shadow-image);

                    img{
                        width: 100%;
                        height: 100%;
                    }

                    p{
                        text-align:center;
                        text-overflow: ellipsis;
                        font-family: $roboto;
                        font-size: $font-size-15;
                        color: rgba( $black-color, 0.8);
                        width: 195px;
                        white-space: nowrap;
                        overflow: hidden;
                        margin: 18px 0 0 0;
                    }

                    a{
                        .overflow-img{
                            display: none;
                            position: absolute;
                            width: 195px;
                            height: 260px;
                            @include linear-gradient($from-gradient, $to-gradient);

                            button{
                                width: 38px;
                                height: 30px;
                                text-align:center; 
                                font-size: $font-size-15;
                                border: none;
                                color: $header_black-color;
                                @include border-radius(3px);
                                background-color: $gray-tabs;
                                @include box-shadow($shadow-image);
                                margin: 12px 0 0 146px;
                            }

                            button:hover{
                                background-color: $film-color;
                                color: $white-color;
                            }

                            .see-ba:before, .add-list:before{
                                content: "";
                                position: absolute;
                                z-index: 9999999999;
                                border-color: $selection_black-color;
                                background-color: $selection_black-color;
                                border-style:solid;
                                height:5px;
                                width: 5px;
                                @include rotate(45);
                            }

                            .add-list:before{
                                left: 86px;
                                top: 25px; 
                            }

                            .see-ba:before{
                                left: 86px;
                                top: -5px;
                            }

                            .see-ba, .add-list{
                                display: none;
                                white-space: nowrap;
                                text-align: center;
                                width: 177px;
                                left: 74px;
                                position: absolute;
                                z-index: 9999999999;
                                line-height: 32px;
                                font-family: $roboto-medium;
                                font-size: $font-size-13;
                                @include border-radius(2px);
                                @include box-shadow($shadow-image);
                            }

                            .add-list{
                                margin-top: -73px;
                            }

                            .see-ba{
                                margin-top: 15px;
                            }

                            button:hover .see-ba, button:hover .add-list{
                                display: block;
                                background-color: $selection_black-color;
                                
                            }
                        }
                    }

                    a:hover{
                        .overflow-img{
                            display: block;
                        }
                    }
                }
            }
        }
        }
    }
}

/***** Fin Reduction ******/

/***** Newsletter *****/

.newsletter{
    width: 100%;
    height: 72px;
    padding-top: 27px;
    border-top: solid 1px $link_gray-color;
    text-align: center;
    background-color: $gray-tabs;

    form{
        label{
            font-family: $montserrat-bold;
            text-transform: uppercase;
            font-size: font-size-15;
            color: $selection_black-color;
        }

        input{
            width: 326px;
            height: 44px;
            margin:0 0 0 30px;
            font-family: $roboto;
            font-size: 15px;
            color: rgba($button-inscrire, 0.6);
            border: solid 1px rgba($link_gray-color, 0.7);
            padding: 0 0 0 20px;
        }
        button{
            width: 180px;
            height: 42px;
            font-family: $montserrat-bold;
            font-size: 15px;
            text-transform: uppercase;
            margin:0 0 0 20px; 
            color: rgba($button-inscrire, 0.8);
            background-color: $gray-tabs;
            @include border-radius(3px);
            border: solid 2px rgba($button-inscrire, 0.8);
        }
    }
}

/***** Fin Newsletter *****/

/***** Application *****/

.application{
    width: 100%;
    height: 390px;

    .img-device{
        float: left;

        img{
            width: 473px;
            height: 302px;
            margin: 44px 0 0 180px;
        }
    }

    .descr-app{
        float: right;

        p{
            margin: 110px 255px 0 0;
            width: 320px;
            font-family: $roboto-medium;
            font-size: 18px;
            color: rgba($button-inscrire, 0.8);
        }

        .apple{
            width: 135px;
            margin-top: 23px;
            height: 40px;
        }

        .android{
            width: 117px;
            margin-top: 23px;            
            height: 41px;
        }
    }
}

/***** Fin Application *****/

/***** Footer *****/

footer{
    width: 100%;

    .container-footer{
        border-top: solid 1px rgba($link_gray-color, 0.7);
        margin: 0 96px 0 96px;
        height: 210px;

        ul{
            width: 210px;
            padding: 0;
            float: left;
            margin: 35px 90px 0 0;

            li{
                list-style-type: none;
                a{
                    color: rgba($link_gray-color, 0.9);
                    font-family: $roboto;
                    font-size: 15px;
                    text-decoration: none;
                }
            }
        }

        .third{
            
        }

        .reseaux{
            float:right;

            img{
                width: 105px;
                height: 32px;
                float: right;
                margin: 35px 0 0 0;
            }
            .icon-sociaux{
                float: none;
                margin: 50px 0 0 0 ;
                padding: 0;
                width: 185px;

                li{
                    float:right;
                    list-style-type:none;
                    margin-left: 15px;

                    a{
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

/***** Fin Footer *****/

/****** Style custom tooltip *****/

.tooltipster-content{
    background-color: $white-color;
    color: $black-color;
    width: 326px;
    height: 352px;
    border: none !important;
    @include box-shadow($shadow-image);

    h4{
        color: $header_black-color;
        font-family: $roboto-medium;
        font-size: $font-size-22;
        width: 230px;
        margin: 26px 0 0 30px;
        line-height: 26px;
    }

    .genre-aff{
        font-family: $roboto-medium;
        font-size: $font-size-13;
        color: $header_black-color;
        margin: 10px 0 0 30px;

        .vost-aff{
            width: 36px;
            height: 16px;
            margin-top: -3px;
        }

        .picto-age{
            width: 21px;
            height: 21px;
            margin-top: -7px;
        }
    }

    .acteur-aff{
        color: rgba($header_black-color, 0.8);
        font-family: $roboto-medium;
        font-size: $font-size-13;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 270px;
        margin: 0 0 0 30px;
    }

    .origine-aff{
        color: rgba($header_black-color, 0.8);
        font-family: $roboto-medium;
        font-size: $font-size-13;
        width: 270px;
        margin: 3px 0 0 30px;
    }

    .catchphrase{
        color: rgba($header_black-color, 0.5);
        font-family: $roboto-bolditalic;
        display: block;
        padding-left: 10px;
        border-left: solid 3px rgba($header_black-color, 0.1);
        font-size: $font-size-13;
        width: 230px;
        margin: 24px 0 0 30px;
    }

    button{
        width: 270px;
        height: 40px;
        font-family: $montserrat-bold;
        text-transform: uppercase;
        text-align:left;
        font-size: $font-size-13;
        @include border-radius(3px);
        border: none; 
        padding: 0 13px 0 16px;
    }

    .achat-aff{
        background-color: $film-color;
        margin: 12px 0 0 30px;
        color: $white-color;
    }

    .cross-bar{
        text-decoration: line-through;
    }

    .price{
        font-size: $font-size-18;
    }

    .right{
            float:right;
    }

    .louer-aff{
        background-color: $white-button;
        margin: 10px 0 20px 30px;
        color: $color-white-button;
    }

    a{
        color: rgba($header_black-color, 0.5);
        font-size: $font-size-13;
        text-align:center;
        $font-family: $roboto-medium;
        width: 100%;
        text-decoration: none;
        margin-left: 118px;
    }
}

/***** Fin Style custom tooltip *****/